{% extends "base.html" %}
{% block title %}Recently Pasted{% endblock %}
{% block content %}
    <h1>Recently Pasted</h1>
    <ul>
    {% for object in object_list|slice:":10" %}
        <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}