{% extends "base.html" %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
<h1>{{ object }}</h1>
<p>Syntax: {{ object.timestamp|date:"r" }}</p>
<code><pre name="code" class="brush: {{ object.get_syntax_display|lower }}">{{ object.content }}</pre></code>
    <link href="/static/css/shCore.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/shThemeDefault.css" rel="stylesheet" type="text/css" />
    <script language="javascript" src="/static/js/shCore.js"></script>
    <script language="javascript" src="/static/js/shBrushPython.js"></script>
    <script language="javascript" src="/static/js/shBrushXml.js"></script>
    <script language="javascript" src="/static/js/shBrushJScript.js"></script>
    <script language="javascript" src="/static/js/shBrushSql.js"></script>
    <script language="javascript" src="/static/js/shBrushCss.js"></script>
    <script type="text/javascript">
                SyntaxHighlighter.all()
    </script>
{% endblock %}
