<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        body {margin: 30px; font-family: sans-serif; background: #fff;}
        h1 { background: #ccf; padding: 20px;}
        pre { padding: 20px; background: #ddd;}
    </style>
</head>
<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/bootstrap.min.js" ></script>
<p><a href="/paste/add" class="btn btn-primary">Add one</a> &bull;
<a href="/paste/" class="btn btn-primary">List all</a></p>
{% block content %}{% endblock %}
</body>
</html>